@model RookieAssignment.Shared.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container-fluid">
    <h1 class="display-3">Welcome</h1>
    <h2 class="display-4">Rookie Coffee Shop</h2>
</div>

<br /> <br />

<div class="backgroundWhite container">
    @foreach(var category in Model.Category)
    {
        <div class="row" id="menu-wrapper">
            <partial name="_ThumbnailPartial" model="@Model.MenuItem.Where(u=>u.Category.Name.Equals(category.Name))" />
        </div>
    }
</div>
